node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Android
/android/.gradle
android/.gradle/
android/app/build/
android/build/
android/.idea/
android/local.properties
*.apk
*.aab

